body {
  margin: 0;
  padding: 0;
  background: #c56363;
  background: radial-gradient(
    circle,
    rgb(179, 155, 165) 0%,
    rgb(85, 110, 140) 100%
  );
  color: rgb(54, 45, 83);
}

.wrapper {
  min-width: 100vw;
  min-height: 100vh;
}

.table {
  --bs-table-bg: transparent;
}
