body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper {
  background-color: cadetblue;
}
.header {
  color: black;
  font-size: medium;
  font-weight: bold;
  text-align: center;
}

.herosection {
  height: 500px;
  width: 100%;
  background-color: beige;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.moviecard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 500px;
  height: 350px;
  border: 1px black solid;
  box-shadow: 20px 20px 50px 15px grey;
  background-color: beige;
  color: black;
  padding: 10px;
  border-radius: 5px;
}
.search {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search input {
  height: 30px;
  width: 200px;
}

.container {
  height: 400px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-list {
  height: 500px;
  width: 100%;
  background-color: grey;
}
