body {
  height: 100%;
  width: 100%;
  background-color: brown;
}
.wrapper {
  background-color: cadetblue;
}
.header {
  color: black;
  font-size: medium;
  font-weight: bold;
  text-align: center;
}
.herosection {
  height: 500px;
  width: 100%;
  background-color: beige;
  color: black;
}
.search {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search input {
  height: 50px;
  width: 100px;
}

.container {
  height: 400px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container img {
  height: 200px;
  width: 200px;
}
