:root {
  scroll-behavior: smooth;
  --color-orange: orangered;
  --color-dark: #2a2a2a;
  --color-light: white;

  --body-bg: rgb(212, 242, 252);
  --header-bg: rgb(153, 188, 200);
  --text-color: var(--color-dark);
  --border-color: var(--color-dark);

  --dark-bg: var(--color-dark);
  --dark-header-bg: grey;
  --dark-text-color: white;
  --dark-border-color: white;
  --dark-nav-color: white;

  --color-hero: var(--color-orange);

  --shadow: 4px -2px 40px 9px rgba(128, 128, 128, 0.464);
  --header-shadow: 5px 4px 11px 1px #8a8a8a7d;
}
/* remove properties of links */
a {
  text-decoration: none;
  font-weight: bolder;
  color: #2a2a2a;
}

.wrapper {
  background: var(--body-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
}

#darkmode:checked + .wrapper {
  --body-bg: var(--dark-bg);
  color: var(--dark-text-color);
  --header-bg: var(--dark-header-bg);
  /* --color-hero: var(--color-green); */
}

#darkmode {
  display: none;
}

body {
  padding: 0px;
  margin: 0px;
}
.container .logo {
  background-color: black;
}
/* dark mode code */
#darkmodelabel {
  position: fixed;
  top: 100px;
  left: 40px;
  font-size: 2rem;
}
/* navbar */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-nav-color);
  background-color: var(--header-bg);
  height: 50px;
  position: sticky;
  top: 0px;
  box-shadow: var(--header-shadow);
  width: 100%;
}

header .container {
  width: 85%;
  display: flex;
  justify-content: space-between;
}
/* .container1 {
  display: flex;
} */

header .container .menu {
  display: flex;
  gap: 15px;
}
/* hero section */
.hero-section {
  margin-top: 20px;
  height: 300px;
  /* padding-top: 60px; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  width: 80%;
}

.grid {
  display: grid;
  gap: 1rem;
}

.flex {
  display: flex;
  gap: 1rem;
}

.justify-center {
  justify-content: center;
}

.hero {
  background: var(--color-hero);
  grid-template-areas: "left right";
  padding: 2rem;
  box-shadow: var(--shadow);

  grid-template-columns: 1fr 2fr;
}

.left {
  grid-area: left;
  flex-direction: column;
  justify-content: center;
  margin-left: 10vw;
}
.left div span {
  font-weight: bold;
  font-size: 1.3rem;
}

.left .tag {
  font-size: 2.2rem;
  font-weight: bolder;
  letter-spacing: 5px;
}

.left button {
  background: var(--dark-bg);
  color: var(--dark-text-color);
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.right {
  grid-area: right;
  justify-content: center;
  align-items: left;
  height: 100%;
}

label[for="hamburgerMenu"] {
  display: none;
}

#hamburgerMenu {
  display: none;
}

/* project section */
.project-card {
  width: 100%;
  height: 400px;
  background-color: red;
  align-items: center;
  justify-content: center;
}

.project-section {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  width: 80%;
}

.project-grid {
  grid-template-columns: repeat(3, 1fr);
}
/* personal details section */
.details {
  justify-content: center;
}
.detail_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 80%; */
  border: black;
  border-radius: 25px;
  font-size: 20px;
  padding: 20px;
  height: 100px;
  box-shadow: 5px 5px 5px 5px grey;
}
.detail_bar .project {
  border-left: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.details .detail_bar .graduate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border-left: 5px solid grey; */
}
/* skills section */
.skills {
  /* margin-top: 40px; */
  height: 200px;
  width: 80%;
  /* margin-left: 8rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.skills .skill_header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  border-color: #ad8b73;
  width: 5%;
  margin-left: 40px;
  font-size: 20px;
  font-weight: bold;
}
.skills .skill_bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* margin-top: 5rem; */
  width: 100%;
  font-size: 20px;
}

.skill_bar .firstskill,
.secondskill,
.thirdskill,
.fourthskill,
.fifthskill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* about me section */
.aboutme {
  height: 50vh;
  width: 100%;
  background-color: rgba(8, 70, 32, 0.755);
}
.aboutme .grid_about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  height: 50vh;
}
.left_flex {
  grid-area: left;
  justify-content: flex-start;
  align-items: right;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
}
.left_flex img {
  height: 320px;
  width: 300px;
  margin-top: 1rem;
}
.right_flex {
  width: 60%;
  height: 100%;
}
.aboutheader {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid orangered;
  width: 10%;
  margin-left: 25rem;
  margin-bottom: 2rem;
}
.aboutdetails {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-top: 2rem;
  gap: 10px;
}
.aboutdetails .interest {
  display: flex;
  align-items: left;
  flex-direction: row;
  margin-top: 10px;
}
.aboutdetails .interestsports {
  display: flex;
  align-items: left;
  gap: 2rem;
}
/* contact section */
.contact {
  margin-top: 5rem;
  width: 80%;
}
.contact .contactme {
  height: 50vh;
  width: 100%;
  background-color: rgba(59, 66, 131, 0.843);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.contactme .contacthere {
  border-bottom: 2px solid;
  border-color: orangered;
  width: 8%;
}
.logo > img {
  width: 150px;
  height: 50px;
}
.contactme .contactlogo {
  display: flex;
  align-items: center;
  gap: 3em;
  font-size: 2em;
}
.contactme .contactinput {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  height: 50px;
  padding: 15px;
}
/* footer section */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 100%;
  background-color: black;
  color: white;
}
footer a {
  color: white;
}
footer .alllinks {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
  text-decoration: none;
}
.alllinks .links {
  display: flex;
  flex-direction: column;
}
.alllinks .sociallinks {
  display: flex;
  flex-direction: column;
}

/* mobile screen */
@media screen and (width<662px) {
  label[for="hamburgerMenu"] {
    display: block;
  }
  .menu {
    visibility: hidden;
    width: 0px;
    transition: width 0.2s ease-in;
    position: fixed;
    height: 100vh;
    top: 50px;
    right: 0px;
    flex-direction: column;
    background-color: var(--header-bg);
    z-index: 999;
    padding: 10px;
    gap: 15px;
  }

  #hamburgerMenu ~ label {
    transition: all 0.2s ease-in;
  }

  #hamburgerMenu:checked + .menu {
    visibility: visible;
    width: 200px;
  }

  #hamburgerMenu:checked ~ label {
    transform: rotate(90deg);
  }
  /* .gotohome {
    height: 100px;
    position: right;
    background-color: orangered;
  } */
  .hero {
    grid-template-areas:
      "right"
      "left";
  }

  .project-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* tablet screen */
@media screen and (width >= 662px) and (width<992px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* large screen  */
@media screen and (width >=1400px) {
  .project-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
